@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* Noto Sans KR */

/* 공통 스타일 */
* {
    font-family: "Noto Sans KR";
    font-weight: 400;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/* 헤더 스타일 */
header {
    margin-top: 100px;
    width: 100%;
    height: 200px;
    text-align: center;
}

#title {
    text-align: center;
    border-radius: 10px;
    width: 350px;
}

/*#title {*/
/*    margin: 100px auto;*/
/*    width: 350px;*/
/*    height: 150px;*/
/*    background-color: #6C6C6C;*/
/*    border-radius: 10px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*#title h1 {*/
/*    color: white;*/
/*    font-size: 30px;*/
/*    margin: 0;*/
/*}*/

.btn {
    background-color: #666666;
    border-radius: 5px;
    width: fit-content;
    color: white;
    padding: 5px;
    text-align: center;
}

.btn a {
    text-decoration: none;
    color: white;
}

#login {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 100px;
    background-color: #45A651;
}

#nickname {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100px;
    right: 170px;
    font-size: 20px;
}

#logout {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 100px;
    background-color: #D37811;
}


/* 게시판 스타일 상단 */
main {
    margin: 100px auto;
    width: 850px;
    height: 600px;
}

hr {
    border: 0;
    height: 2px;
    background: black;
}

#bbs-header {
    display: flex;
    justify-content: space-between;
}

#bbs-header h4 {
    margin: 0;
}

#search {
    background-color: #EDEDED;
    width: 240px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#search input {
    margin-left: 5px;
    width: 200px;
    background-color: #EDEDED;
    border: none;
}

#search input:focus {
    outline: none;
}

#search button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: none;
    background-image: url("../image/search.png");
}

#search button:hover {
    cursor: pointer;
}

/* 게시판 행 스타일 */

#bbs-content {
    margin: 0;
    padding: 0;
}

.bbs-row {
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #BDBDBD;
}

.bbs-row:hover {
    background-color: #f6f6f6;
    border-radius: 5px;
}

.number {
    width: 50px;
    text-align: center;
    border-right: 1px solid #8E8E8E;
}

.title {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

.title:hover {
    color: #b54040;
}

.view {
    margin-left: 10px;
    color: orange;
}

.writer {
    margin-left: auto;
}

/* 페이지 스타일 */

#bbs-bottom {
    margin-top: 25px;
    display: flex;
}

#bbs-page {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bbs-page a {
    margin: 0 5px;
    text-decoration: none;
    color: black;
}

#new-form-btn {
    width: 60px;
    text-decoration: none;
    float: right;
    color: white;
    background-color: #45A651;
}


/* 로그인/회원가입 페이지 관련 스타일 */

#form {
    width: 450px;
    height: 220px;
    background-color: #EBEBEB;
    border-radius: 10px;
    margin: 200px auto;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(131, 131, 131, 0.3);
}

#join-form-btn-wrap {
    text-align: center;
}

#join-form-btn {
    text-decoration: none;
    background-color: #D37811;
    width: 100px;
}

#login-btn {
    background-color: #45A651;
    width: 100px;
    text-decoration: none;
}

#join-btn {
    background-color: #D37811;
    width: 100px;
}

#form-content {
    display: flex;
    justify-content: center;
}

#form-label {
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid #999999;
}

#form-input {
    margin-left: 10px;
}


/* CKEditor5 관련 설정 */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
    body {
        margin: 0 !important;
    }
}

.main-container {
    font-family: 'Lato';
    width: fit-content;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

.ck-content {
    font-family: 'Lato';
    line-height: 1.6;
    word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
    min-width: 795px;
    max-width: 795px;
    min-height: 600px;
    max-height: 600px;
}

.ck-editor__editable {
    min-height: 600px;
    max-height: 600px;
}


/* 게시글 등록 관련 */
#create-bbs-btn-wrap {
    text-align: center;
}

#create-bbs-btn {
    margin: 0 auto;
    width: 100px;
    background-color: #45A651;
}

#create-bbs-btn:hover {
    cursor: pointer;
}